.ruudukko {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: darkorchid;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.ruudukko > div {
    padding: 1rem;
    background-color: rgb(199, 94, 252);
    border: 15px solid black;
    text-align: center;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;

}

