body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: mediumpurple;
    border-bottom: 2px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

main {
    padding: 20px;
}

.post {
    border: 2px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.post h2 {
    margin-top: 0;
}

.image-placeholder {
    width: 150px;
    height: 100px;
    background-color: #ccc;
    border: 1px solid #999;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f8f8;
    border-top: 2px solid #ddd;
}

.social-links a {
    display: block;
    text-decoration: none;
    color: blue;
    margin-bottom: 5px;
    font-size: 35px;
}

.social-links{
    padding-right: 300px;
}

.logo {
    padding-left: 20px;
    font-size: 50px;
    color: white;
}
